doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='description', content='vex-lib-js')
		meta(name='author', content='Avihai Cohen')
		title vex-lib-js
		script(src='vex-lib.js')
	body
		h1 vex-lib-js
		script.
			console.log('VexLib', VexLib);
			let seed = VexLib.generateSeed();
			console.log('seed', seed);
			console.log('----------------------------------------------------------');
			console.log('VexLib.getWalletSlot()', JSON.stringify(VexLib.getWalletSlot(seed, 0)));
			console.log('VexLib.getWalletSlot()', VexLib.getWalletSlot(seed, 1));
			console.log('VexLib.getWalletSlot()', VexLib.getWalletSlot(seed, 0));
			console.log('VexLib.getWalletSlot()', VexLib.getWalletSlot(seed, 1));